html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    background-color: #f0f2f5;
}
nav {
    background: #444;
        .btn-floating {
            background-color: #79baea !important;
        }
}

.search-tags {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 15px;
    font-weight: 300;
    font-size: 13px;
    padding: 4px 0 4px 20px !important;
    a {
        margin-right: 10px;
        color: #2a5885;
    }
}

.block {
    background: #fff;
    min-height: 250px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0;
    color: #2a5885;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
}
.user-profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px auto;
}
.card {
    .card-head {
        padding: 5px 10px;
        color: #353535 !important;
        text-align: right;
    }
    .user-block {
        .event-info {
            float:right;
        }
        .event-author {
            position: relative;
            top: -15px;
            left: -15px;
        }
    }
    .card-content {
        .post_created {
            color: #26a69a;
            font-size: 12px;
        }
        .card-title a {
            color: #666;
        }
        .event-people {
            margin: 5px;
            position: relative;
            left: 51%;
            font-size: 11px;
            color: #4caf50 !important;
        }
        .join-event-button, .edit-event-button, .delete-event-button {
            float: right;
            margin: 0 5px;
        }

  }
}

.auth-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .auth-modal-window {
        border: 1px solid #2a5885;
        width: 33%;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        text-align: center;
        .row {
            text-align: center;
        }
        h4 {
            color: #666;
        }
        .tabs {
            width: 66%;
            margin: 12px auto;
        }
        label[for="remember_me"] {
            display: none;
        }
        .indicator {
            background-color: #4caf50;
        }
        a {
            color : #777 !important;
        }
    }
}

.active-filter {
    padding: 4px;
    .active-filter-remove {
        float: right;
        cursor: pointer;
    }
}

.personal-info-block {
    .user {
        margin: 5px;
        color: #4B8B20;
        font-size: 34px;

        span {
            position: relative;
            top: -17px;
            right: -11px;
        }
        a {
            color: #26a69a;
        }
    }
    .actions {
        margin: 15px;
        div {
            margin-top:5px;
        }
        a {
            color: grey;
        }

        .custom {
            color: white;
            background-color: #5eb8f7;
            border-radius: 15px;
        }
    }
}

.custom-header {
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}

.btn-floating {
    background-color: #4caf50;
}

.conversation-row {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;

    .conversation-title {
        display: inline-block;
        position: relative;
        top: -7px;
        margin-left: 10px;
    }
    .conversation-last-message {
        position: relative;
        left: 6%;
        top: -13px;
        color: grey;
        font-size: 13px;
        background: whitesmoke;
        padding: 12px;
        width: 82%;
    }

    .message-remove {
        position: absolute;
        right: 1%;
        top: 4%;
        cursor: pointer;
        color: grey;
        font-size: 30px;
    }

}

.message-box {
    position: relative;
    margin: 10px;
    .author {
        position: relative;
        left: 6%;
        top: -43px;
        font-weight: bold;
    }
    .message {
        position: relative;
        left: 6%;
        top: -25px;
        color: grey;
        font-size: 13px;
        margin: 11px;
        padding:10px;
        border-radius: 5px;
        width: 88%;

    }
    .unread {
        background-color: rgba(204, 204, 204, 0.56);
    }
    .created {
        font-size: 10px;
        color: black;
    }
}

.profile {
    .user-name {
        margin: 30px;
        text-align: center;
    }

    .user-info {
        text-align: center;

        li {
            display: inline-block;
            padding: 10px;
            cursor: pointer;
        }
    }

}

.message-form {
    display: none;
}

.upload-avatar-form {
    display: none;
}

.event-view-wrap {
    position: relative;
    padding: 5px 30px;

    .event-info {
        margin: 10px 0;
        text-indent: 20px;
        color: #666;
    }
    .event-date, .event-place, .members-needed, .event-author {
        text-align: center;
        color: grey;
        font-size: 20px;
    }
    h4 {
        color: #666;
        text-align: center;
    }

    .members {
        width: 77%;
        margin: 0 auto;
        text-align: center;
        p {
            text-align: center;
            color: grey;
            font-size: 20px;
        }

        .member {
            display: inline-block;
            margin: 0 7px;
            text-align: center;
        }
    }
}

.event-filter-form {
    h4 {
        margin-bottom: 55px;
    }
}

.users-wrap {
    padding: 9px;
    .user {
        margin: 10px 0 0 5px;

        span {
            position: relative;
            top: -17px;
            right: -11px;
        }
        a {
            color: #26a69a;
        }
    }
}