{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
xxx
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_and_ui'
        '@AppBundle/Resources/public/js/*'
        output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/scss/*' filter="scssphp" output='css/all.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
